{% extends 'base.html' %}
{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='records.css') }}">
{% endblock %}
{% block header %}
  <h1>{% block title %}Add Record{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <input type="text" placeholder="Amount" name="amount" id="amount" required><br>
    <select name="habit_id", id="habit_id">
      {% for habit in habits %}
        <option value="{{ habit['habitid'] }}">{{ habit['name'] }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>
{% endblock %}