{% extends 'base.html' %}
{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='habits.css') }}">
{% endblock %}
{% block header %}
  <h1>{% block title %}Add Habit{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <input type="text" placeholder="Name" name="name" id="name" required><br>
    <input type="description" placeholder="Description" name="description" id="desciption" required><br>
    <select name="measurement", id="measurement">
      {% for measurement in measurements %}
        <option value="{{ measurement['measurementid'] }}">{{ measurement["name"] }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>
{% endblock %}