{% extends 'base.html' %}
{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='records.css') }}">
{% endblock %}

{% block content %}

  <div class="records-container">

    <h1>{% block title %}User Records{% endblock %}</h1>

    <table class="records">
      <tr>
        <th>Habit ID</th>
        <th>Date</th>
        <th>Amount</th>
      </tr>
      {% for record in records %}
        <tr>
          <td><a class="rec-link" href="{{ url_for('habit.single_record', record=record) }}">{{ record.habitid }}</a></td>
          <td>{{ record.rdate }}</td>
          <td>{{ record.amount }}</td>
        </tr>
      {% endfor %}
    </table>

    <a id="add-link" href="{{ url_for('habit.add_record') }}">Add</a>

  </div>

{% endblock %}
