{% extends 'base.html' %}
{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}
{% block header %}
  <h1>{% block title %}Update Record{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <input type="text" value="{{ record.habitid }}" name="habitid" id="habitid" required><br>
    <label for="date">Date:</label>
    <input type="text" value="{{ record.rdate }}" name="date" id="date" required><br>
    <label for="amount">Amount:</label>
    <input type="text", value="{{ record.amount }}", name="amount", id="amount" required>
    <!-- <select name="habit_id", id="habit_id">
      {% for habit in habits %}
        <option value="{{ habit['habitid'] }}">{{ habit['name'] }}</option>
      {% endfor %}
    </select> -->
    <input type="submit" value="Update">
</form>
{% endblock %}