.account-container {
    background-color: white;
    display: flex;
    border-radius: 4px;
}

.content {
    margin-top: 100px;
    padding: 3%;
    color: black;
    background-color: white;
    border-radius: 4px;
}

#account {
    width: 50%;
}

#account-img {
    width: 50%;
}

#account-img > img {
    height: 500px;
    margin-left: 120px;
}

#account-info {
    background-color: #ffa8bb;
    padding: 5% 10% 5% 10%;
    margin: 0px 0px 40px 0px;
    width: 450px;
    height: 455px;
}

p {
    margin-bottom: 30px;
}

h1 {
    color: black;
}

#edit-acc-link, #update-passsword {
    height: 42px;
    padding: 10px 30px 10px 30px;
    color: #696969;
    text-decoration: none;
    border: 2px solid #65944e;
    border-radius: 4px;
    margin-right: 2px;
}


#edit-acc-link:hover, #update-passsword:hover {
    background-color: #bacd96;
    border: 2px solid #bacd96;
    color: white;
    display: inline;
  }