header {
  margin-top: 100px;
}
h1{
  display: inline;
}

#add-habit-link {
  padding: 1px 7px 1px 7px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 50px;
  opacity: 0.9;
}

#edit-acc-link:hover {
  background-color: #bacd96;
  border: none;
  color: white;
  display: inline;
}

.tile {
    width: 250px;
    height: 200px;
    margin: 20px;
    background-color: #6aa9c2 ;
    opacity: 0.8;
}

.row{
    float: left;
    display: inline;
}

.tile .habit-link:link, .habit-link:visited {
    background-color: #6aa9c2;
    color: white;
    width: 220px;
    padding: 18px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 25px;
}

.habit-link:hover, .habit-link:active {
    background-color: #8bd8f7;
}

.confirm-container {
  padding: 16px;
  text-align: center;
}
.confirm-container > p {
  color: black;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #B76873;
  padding-top: 50px
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border-radius: 4px;
  width: 80%;
}
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}
.close:hover,
.close:focus {
  color: #F78395;
  cursor: pointer;
}

#cancel-delete {
  border: 2px solid #65944e;
}

#confirm-delete {
  border: 2px solid #F78395;
}

#confirm-delete, #cancel-delete {
  height: 42px;
  padding: 10px 30px 10px 30px;
  color: #696969;
  text-decoration: none;
  border-radius: 4px;
  background-color: white;
  font-size: 15px;
}

#cancel-delete:hover {
  background-color: #bacd96;
  border: 2px solid #bacd96;
  color: white;
}

#confirm-delete:hover {
  border: 2px solid #F78395;
  background-color: #F78395;
  color: white;
}