header {
  margin-top: 100px;
}

#add-habit-link {
  padding: 10px 30px 10px 30px;
  color: #696969;
  text-decoration: none;
  border: 2px solid #65944e;
  border-radius: 4px;
}

#edit-acc-link:hover {
  background-color: #bacd96;
  border: none;
  color: white;
}

.tile {
    box-shadow: 5px 7px 7px 0px rgba(0,0,0,0.51);
    width: 250px;
    height: 200px;
    margin: 20px;
    background-color: #F78395 ;
    opacity: 0.95;
}

.row{
    float: left;
    display: inline;
}

.tile .habit-link:link, .habit-link:visited {
    background-color: #F78395;
    color: white;
    width: 120px;
    padding: 18px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 25px;
}

.habit-link:hover, .habit-link:active {
    background-color: #FFA8B6;
}



