h1 {
    color: black;
}

.content {
    margin-top: 100px;
    padding: 3%;
    color: black;
    background-color: white;
    border-radius: 4px;
}

.records {
    text-align: left;
    width: 100%;
    margin-bottom: 50px;
}

input[type=submit] {
    font-size: 16px;
    background-color: #F78395;
    color: white;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #FFA8B6;
    color: white;
}

.rec-link {
    color: black !important;
}

#add-link, #update {
    border: 2px solid #65944e;
}

#delete {
    border: 2px solid #F78395;
}

#add-link, #update, #delete {
    height: 42px;
    padding: 10px 30px 10px 30px;
    color: #696969;
    text-decoration: none;
    border-radius: 4px;
    background-color: white;
    font-size: 15px;
}

#add-link:hover, #update:hover {
    background-color: #bacd96;
    border: 2px solid #bacd96;
    color: white;
}

#delete:hover {
    background-color: #F78395;
    border: none;
    color: white;
}

.single-record {
    font-size: 20px;
    margin-bottom: 30px;
}
