{% extends 'base.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block content %}

  <div class="register">
    
    <h1>{% block title %}Register{% endblock %}</h1>
    
    <form method="post">
      <input type="text" placeholder="Full Name" name="fullname" id="fullname" required><br>
      <input type="email" placeholder="Email" name="email" id="email" required><br>
      <input type="text" placeholder="Username" name="username" id="username" required><br>
      <input type="password" placeholder="Password" name="password" id="password" required><br>
      <input type="date" placeholder="Date of Birth" name="dateOfBirth" id="dateOfBirth" required><br>
      <input type="radio" id="female" name="gender" value="F">
      <label class="radio-label" for="female">Female</label><br>
      <input type="radio" id="male" name="gender" value="M">
      <label class="radio-label for="male">Male</label><br>
      <input type="radio" id="other" name="gender" value="O">
      <label class="radio-label for="other">Other</label><br>
      <input type="number" placeholder="Weight (kg)" name="weight" id="weight" required><br>
      <input type="number" placeholder="Height (cm)" name="height" id="height" required><br>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      <input class="auth-btn" type="submit" value="Register">
    </form>

  </div>
  
{% endblock %}