{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <input type="text" placeholder="Full Name" name="fullname" id="fullname" required><br>
    <input type="email" placeholder="Email" name="email" id="email" required><br>
    <input type="text" placeholder="Username" name="username" id="username" required><br>
    <input type="password" placeholder="Password" name="password" id="password" required><br>
    <input type="date" placeholder="Date of Birth" name="dateOfBirth" id="dateOfBirth" required><br>
    <label><b>Gender:</b></label><br>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label><br>
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="other" name="gender" value="other">
    <label for="other">Other</label><br>
    <input type="number" placeholder="Weight (kg)" name="weight" id="weight" required><br>
    <input type="number" placeholder="Height (cm)" name="height" id="height" required><br>
    <input type="submit" value="Register">
  </form>
{% endblock %}
