<!doctype html>
<title>{% block title %}{% endblock %} - Team5 WebApp</title>
{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}
<nav>
  <h1><img id="nav-logo" src="/../../../static/images/habittracker.png" alt="Fruit"></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('habit.userhabits') }}">habits</a></li>
      <li><a href="{{ url_for('habit.userrecords') }}">records</a></li>
      <li><a href="{{ url_for('account.viewAccount') }}">View Account</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>