{% extends 'base.html' %}
{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
{% endblock %}

{% block header %}
  <h1>{% block title %}Edit Password{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
  <input type="password" placeholder="New Password" name="password1" id="password1"><br>
  <input type="password" placeholder="Confirm Password" name="password2" id="password2"><br>
  <input type="submit" value="Save">
</form>
{% endblock %}