{% extends 'base.html' %}

{% block header %}
<ul>
  <h1>{% block title %}My Account{% endblock %}</h1>
  <li><a href="{{ url_for('account.editAccount') }}">Edit Account</a></li>
  <li><a href="{{ url_for('account.editPassword') }}">Update Password</a></li>
</ul>
{% endblock %}

{% block content %}
  <p>Name: {{account.name}}</p>
  <p>Username: {{account.username}}</p>
  <p>Email: {{account.email}}</p>
  <p>Date of Birth: {{account.dob}}</p>
  <p>Gender: {{account.gender}}</p>
  <p>Weight: {{account.weight}}</p>
  <p>Height: {{account.height}}</p>
{% endblock %}