{% extends 'base.html' %}
{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
{% endblock %}

{% block content %}

  <div class="account-container">
    
    <div id="account">
      
      <div id="account-info">
        <p>Name: <b>{{account.name}}</b></p>
        <p>Username: <b>{{account.username}}</b></p>
        <p>Email: <b>{{account.email}}</b></p>
        <p>Date of Birth: <b>{{account.dob}}</b></p>
        <p>Gender: <b>{{account.gender}}</b></p>
        <p>Weight: <b>{{account.weight}}</b></p>
        <p>Height: <b>{{account.height}}</b></p>
      </div>

      <a id="edit-acc-link" href="">Edit Account</a>

    </div>

    <div id="account-img">
      <img src="../static/images/milkandfruit.jpg" alt="Fruit Bowl">
    </div>

  </div>

{% endblock %}